* {
  background-color: lightblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 500px;
  width: 400px;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

.display {
  font-size: 48px;
  font-weight: bold;
  margin: 8px;
  border: 2px solid black;
  padding: 8px;
  background-color: lightgray;
  text-align: end;
}

.buttons {
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  background-color: black;
  justify-content: center;
}

.button {
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgrey;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.button:hover {
  filter: brightness(150%);
}

.button:active {
  filter: brightness(50%);
}

.button.Operator,
.button.equal {
  background-color: lightsalmon;
}

.button.AC,
.button.PlusMinus,
.button.Percent {
  background-color: lightgreen;
}

.button.Zero {
  flex-grow: 50;
}
